<%- include ('../common/head') %>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>
    <header>
        <%- include ('../common/header') %>

    </header>
    <main>
        <div class="container">
          <div class="col col-md-12">
            <div class="profile-pic">
                <img src="/public/images/profile pic.jpg" alt="Profile Picture" width="200">
            </div>
            <h1>About Me</h1>
            <p>Hello, I am Xiangfei Lu.
                I am an enthusiastic student majoring in Software Engineering Technology at Centennial College.
                I have a strong interest in the technological world and constantly seek to expand my knowledge.
                My hobby is playing football, but recently it has changed to fitness.
                I have found a part-time job so that I can earn living expenses while attending classes. Reduce the burden on family members.
            </p>
            <p>Feel free to learn more about me and my journey.</p>
         </div>
        
        </div>
    </main>
    <footer>
        <%- include ('../common/footer') %>
    </footer>
</body>
</html>