<%- include ('../common/head') %>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>
    <header>
        <%- include ('../common/header') %>

    </header>
    <div class="container">
        <h1>My Services</h1>
        <p>Here are some of the services I offer:</p>
        <ul>
          <li>Programming</li>
          <li>Web Development</li>
          <li>Network address allocation</li>

        </ul>
      </div>
    <footer>
        <%- include ('../common/footer') %>
    </footer>
</body>
</html>